[submodule "mr_db"]
	path = mr_db
	url = /Users/mdryden/src/mr_db
[submodule "dstat-interface/mr_db"]
	path = dstat-interface/mr_db
	url = http://microfluidics.utoronto.ca/gitlab/mdryden/mr-db.git
[submodule "dstat_interface/mr_db"]
	path = dstat_interface/mr_db
	url = http://microfluidics.utoronto.ca/gitlab/mdryden/mr-db.git
